@model CNPM_QuanLyChuyenBay.Models.ChuyenBay

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChuyenBay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHangHangKhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangHangKhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTrangThaiChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTrangThaiChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoTrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaMayBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaMayBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLGhePhoThong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLGhePhoThong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLGheThuongGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLGheThuongGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGioDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGioDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGioDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGioDen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
