@{
    ViewBag.Title = "Tìm kiếm chuyến bay";
}

<div class="content col-md-5 bg-dark text-white p-4 d-flex flex-column justify-content-center">
    <h2>Tìm kiếm chuyến bay</h2>
</div>
<div class="col-md-12">
    <div class="content bg-dark text-white p-4">
        <hr />
        @using (Html.BeginForm("TimKiemChuyenBay", "DatVe", FormMethod.Post))
        {
            <div class="form-group">
                <label for="DiemDi">Điểm đi:</label>
                <select id="DiemDi" name="MaSB_Di" class="form-control">
                    <option value="">Chọn sân bay đi</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.SB)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="DiemDen">Điểm đến:</label>
                <select id="DiemDen" name="MaSB_Den" class="form-control">
                    <option value="">Chọn sân bay đến</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.SB)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="HangHangKhong">Hãng hàng không:</label>
                <select id="HangHangKhong" name="MaHHK" class="form-control">
                    <option value="">Chọn hãng hàng không</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.HHK)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="NgayDi">Ngày đi:</label>
                <input id="NgayDi" name="NgayGioDi" type="date" class="form-control" />
            </div>

            <div class="form-group">
                <label for="SoLuongKhach">Số lượng khách:</label>
                <input id="SoLuongKhach" name="SLKhach" type="number" class="form-control" min="1" max="3" />
            </div>

            <div class="form-group">
                <label for="HangGhe">Hạng ghế:</label>
                <select id="HangGhe" name="MaHG" class="form-control">
                    <option value="">Chọn hạng ghế</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.HG)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        }
    </div>
</div>
