@model CNPM_QuanLyChuyenBay.Models.HangHangKhong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HangHangKhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHangHangKhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangHangKhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHangHangKhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHangHangKhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaHangHangKhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
