@model IEnumerable<CNPM_QuanLyChuyenBay.Models.HangHangKhong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHangHangKhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHangHangKhong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHangHangKhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHangHangKhong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.MaHangHangKhong }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaHangHangKhong }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaHangHangKhong })
        </td>
    </tr>
}

</table>
