@model CNPM_QuanLyChuyenBay.Models.PhieuDat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    /* Custom styles for this page */
    .dl-horizontal dt {
        font-weight: bold;
        color: #007bff;
    }

    .dl-horizontal dd {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    h2 {
        color: #28a745;
    }

    h4 {
        color: #343a40;
    }

    hr {
        border: 1px solid #007bff;
    }

    .btn-custom {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }

        .btn-custom:hover {
            background-color: #218838;
        }

    .back-link {
        color: #007bff;
        text-decoration: none;
    }

        .back-link:hover {
            color: #0056b3;
        }
</style>

<h2>Details</h2>

<div>
    <h4>PhieuDat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhieuDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhieuDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaBooking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBooking)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieuDat }, new { @class = "btn-custom" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "back-link" })
</p>
