@model IEnumerable<CNPM_QuanLyChuyenBay.Models.PhieuDat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaPhieuDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaBooking)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhieuDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaBooking)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuDat }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaPhieuDat }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaPhieuDat })
        </td>
    </tr>
}

</table>
